.login {
    background-color: #f0f2f4;
    height: 100dvh;
    overflow: hidden;
}


.login_container {
    max-width: 60%;
    display: flex;
    margin: 80px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.7);
}


.login_form {
    flex: 1;
    background-color: white;
    padding: 22px;
}

.login_img_container {
    flex: 1;
    width: 50%;
    background-color: white;
    text-align: center;
    padding: 22px;
}

.login_img_container img {
    height: auto;
    max-width: 100%;
}


@media(max-width:600px) {
    .login_img_container {
        display: none;
    }
}